<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Classfier</title>
    <link rel="icon" href="/logos/logo.png">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/full.css" rel="stylesheet">
</head>
<body class="bg-cover bg-center bg-no-repeat" style="background-image: url('/pics/house.gif')">
    <%- body %>
    <script src="/js/sockets.js"></script>
    <script src="/js/color.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/plot.js"></script>
</body>
</html>